## Erros de compilação e pastas de saída
**/bin/
**/obj/
**/obj/Debug/
appsettings.Development.json
coveragereport
TestResults

## Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

obj/
bin/
.idea/

## VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Pacotes NuGet
*.nupkg
/packages/

## Arquivos de log e temporários
*.log
*.tmp
*.temp

## Configurações locais (Segurança)
appsettings.Local.json
appsettings.json
.env